.contenedor,
.centrado {
  width: 100%;
  text-align: center; /* Centra el contenido */
}

h4.centrado {
  font-weight: 700 !important;
}

.fuente {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
  margin-top: 0;
  color: #ffffff;
}

.fuente2 {
  font-size: 15px !important; 
  font-weight: 200 !important;
  color: white;
  cursor: pointer;
  margin: 15px auto;
  width: fit-content;
}

ion-content {
  --background: linear-gradient(to bottom,#4edd3b,#236a23) !important;
}

.input {
  width: 300px; /* Ancho uniforme para todos los inputs */
  height: 41px;
  display: block !important;
  margin: auto;
  margin-top: 20px;
  background: white;
  color: black;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 2.5rem; /* Espacio para el ícono en el lado izquierdo */
  text-align: left; /* Alinea el texto a la izquierda */
  font-size: 16px; /* Ajusta el tamaño de fuente si es necesario */
}

input::placeholder {
  color: #b0b0b0; /* Color del placeholder */
  opacity: 1; /* Asegúrate de que el placeholder no sea transparente */
  text-align: left; /* Alinea el texto del placeholder a la izquierda */
}


.password-container {
  position: relative;
  width: 300px; /* Igual al ancho del input */
  margin: auto;
  margin-top: 20px;
}

.password-icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000;
  font-size: 1.5rem;
  opacity: 0.8;
  z-index: 1; /* Asegúrate de que esté por encima del input */
}

.password-container .input {
  padding-left: 2.5rem; /* Espacio para el ícono en el lado izquierdo */
}

ion-button {
  display: block;
  margin: auto;
  height: 38px;
  margin-top: 30px; /* Aumenta el margen superior para mayor separación */
  width: 200px;
}

.lineaseparadora {
  width: 284px;
  height: 0;
  color: white;
  margin: auto;
  border: 1px solid #ffffff;
  margin-top: 40px;
}

img {
  margin: auto;
  display: block;
  width: 200px;
}

.login:active {
  transform: scale(0.9);
}

.login,
.back {
  cursor: pointer;
  transition: transform 0.2s;
}

.back {
  padding: 10px;
  vertical-align: middle;
  margin: auto;
  width: fit-content;
  background-color: #7c45d0;
  border-radius: 10px;
  border-bottom: 1px solid #000000;
}

.back:active {
  transform: scale(0.9);
}
