<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenido aquí -->

  <ion-header collapse="condense">

  </ion-header>
  
  <div class="contenedor">
    <img src="assets/icon/Footybet.png" alt="Logo" class="footyLogo" />
    <p class="fuente">Bienvenido/a</p>
  </div>

  <div class="contenedor">
    <input
      [(ngModel)]="email"
      class="input centrado"
      type="email"
      placeholder="Correo electrónico"
    />

    <div class="password-container">
      <ion-icon
        [name]="iconName"
        (click)="togglePasswordVisibility()"
        class="password-icon"
      ></ion-icon>
      <input
        [(ngModel)]="password"
        class="input"
        placeholder="Contraseña"
        [type]="showPassword ? 'text' : 'password'"
      />
    </div>

    <ion-button shape="round" size="large" color="tertiary" (click)="loginUser()">Iniciar sesión</ion-button>

    <h4 (click)="register()" class="fuente2">¿No tenés cuenta? Registrate acá</h4>
  </div>

  <div class="contenedor">
    <img class="login" src="assets/icon/btn.svg" alt="Logo" (click)="loginGoogle()" />
  </div>
  
</ion-content>
