ion-content {
    --background: linear-gradient(to bottom, #236a23, #4edd3b) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.md list-md.hydrated {
    background-color: transparent;
}

.apuesta-list {
    width: 100%;
    max-width: 500px; 
    padding: 10px;
}

.apuesta-card {
    text-align: center;
    border: 1px solid #110eb9;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #3fb630;
    background-color: #3fb630;
    box-shadow: 0 2px 8px rgba(11, 151, 86, 0.2);
}

ion-card{
    background-color: dimgrey;
}

.apuesta-card ion-card-title {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px;
}

.apuesta-card p {
    margin: 5px 0;
    color: #ffffff;
    font-size: 0.9em;
}

ion-button {
    margin-top: 15px;
    font-weight: bold;
    --background: #ffcc00;
    --color: #000;
}

.noApuestas-text {
    font-size: 1.1em;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
