<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="contenedor">
        <p class="fuente">Bienvenido/a</p>
      </div>
      <ion-buttons class="back" slot="start" size="large">
        <ion-button (click)="VolverAtras()">
          <ion-icon name="arrow-back-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="partido">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ partido.local }} vs {{ partido.visitor }}</ion-card-title>
        <p>{{ partido.competition_name }} - {{ partido.date }}</p>
      </ion-card-header>
  
      <ion-card-content>
        <ion-item (click)="ingresarMonto('Local')">
          <ion-label>Local: {{ partido.local }}</ion-label>
          <ion-img [src]="partido.local_shield"></ion-img>
          <ion-note *ngIf="montoLocal > 0">Monto: {{ montoLocal }} - Total: {{ totalLocal | currency }}</ion-note>
        </ion-item>
  
        <ion-item (click)="ingresarMonto('Empate')">
          <ion-label>Empate</ion-label>
          <ion-note *ngIf="montoEmpate > 0">Monto: {{ montoEmpate }} - Total: {{ totalEmpate | currency }}</ion-note>
        </ion-item>
  
        <ion-item (click)="ingresarMonto('Visitante')">
          <ion-label>Visitante: {{ partido.visitor }}</ion-label>
          <ion-img [src]="partido.visitor_shield"></ion-img>
          <ion-note *ngIf="montoVisitante > 0">Monto: {{ montoVisitante }} - Total: {{ totalVisitante | currency }}</ion-note>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>