<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="contenedor">
        <p class="fuente">Bienvenido/a</p>
      </div>
      <ion-buttons class="back" slot="start" size="large">
        <ion-button (click)="VolverAtras()">
          <ion-icon name="arrow-back-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <div class="team" *ngIf="partido">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="vs-text"
        >{{ partido.local }} VS {{ partido.visitor }}</ion-card-title
        >
        <p class="vs-text">{{ partido.competition_name }} - {{ partido.date }}</p>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item (click)="ingresarMonto('Local')">
          <ion-img class="team-logo" [src]="partido.local_shield"></ion-img>
          <ion-label>Local: {{ partido.local }}</ion-label>
          <ion-label>Paga: {{ multiplicador.Local }}</ion-label>
        </ion-item>
        
        <ion-item (click)="ingresarMonto('Empate')">
          <ion-label>Empate</ion-label>
          <ion-label>Paga: {{ multiplicador.Empate }}</ion-label>
        </ion-item>
        
        <ion-item (click)="ingresarMonto('Visitante')">
          <ion-img class="team-logo" [src]="partido.visitor_shield"></ion-img>
          <ion-label>Visitante: {{ partido.visitor }}</ion-label>
          <ion-label>Paga: {{ multiplicador.Visitante }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="Bfix" (click)="irUser()">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
  