ion-content {
  --background: linear-gradient(to bottom,#4edd3b,#236a23) !important;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 0; 
  margin: 0; 
  height: 100%; 
  width: 100%; 
}

ion-label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.match-card {
  text-align: center;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #3fb630;
  width: 100%; 
  max-width: 400px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.teams-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.vs-text {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

ion-toolbar .contenedor {
  display: flex;
  align-items: center;
}

ion-toolbar .contenedor img {
  width: 150px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el texto */
}
