<ion-content>

  
  <!-- FLECHA ATRAS -->
  <ion-toolbar>
    <ion-buttons class="back" slot="start" size="large">
      <ion-button (click)="VolverAtras()">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  
  
  
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        La Liga
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
  
  