<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="contenedor">
        <p class="fuente">Bienvenido/a</p>
      </div>
      <ion-buttons class="back" slot="start" size="large">
        <ion-button (click)="VolverAtras()">
          <ion-icon name="arrow-back-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!partidosPremier">
    <ion-text>
      <h4>Cargando</h4>
    </ion-text>
  </div>

  <div class="match-list" *ngIf="partidosPremier">
    <ion-list *ngIf="partidosPremier && partidosPremier.length > 0; else noData">
      <ion-item *ngFor="let partido of partidosPremier" lines="none">
        <div class="match-card">
          <h3>{{ partido.competition_name }}</h3>

          <div class="teams-container">
            <div class="team">
              <img
                [src]="partido.local_shield"
                alt="Escudo Local"
                class="team-logo"
              />
              <span>{{ partido.local }}</span>
            </div>
            <span class="vs-text">VS</span>
            <div class="team">
              <img
                [src]="partido.visitor_shield"
                alt="Escudo Visitante"
                class="team-logo"
              />
              <span>{{ partido.visitor }}</span>
            </div>
          </div>

          <div class="match-info">
            <p>Fecha: {{ partido.date }}</p>
          </div>

          <div class="match-result">
            <p *ngIf="esPartidoJugado(partido.date)">
              Resultado: {{ partido.result }}
            </p>
            <ion-button
              *ngIf="!esPartidoJugado(partido.date)"
              (click)="apostar(partido)"
              >Apostar</ion-button
            >
          </div>
        </div>
      </ion-item>
    </ion-list>

    <ng-template #noData>
      <ion-text>
        <h4>No hay partidos disponibles.</h4>
      </ion-text>
    </ng-template>

    <!-- <ng-template #cargando>
      <ion-text>
        <h4>Cargando</h4>
      </ion-text>
    </ng-template> -->
  </div>
</ion-content>
