<ion-content>
  <ion-header [translucent]="true"></ion-header>

  <ion-content [fullscreen]="true">
    <div class="contenedor">
      <img src="/assets/icon/Footybet.png" alt="Logo" class="footyLogo" />
      <p class="fuente">Registrarse</p>
    </div>

    <div class="contenedor">
      <input
        [(ngModel)]="email"
        class="input"
        type="email"
        placeholder="Correo electrónico"
      />

      <div class="password-container">
        <input
          [(ngModel)]="password"
          (input)="validatePassword()"
          class="input"
          placeholder="Contraseña"
          [type]="showPassword ? 'text' : 'password'"
        />
      </div>

      <div class="validation-message">
        <p *ngIf="!validLength">La contraseña necesita tener al menos 8 caracteres.</p>
        <p *ngIf="!validUppercase">Necesita al menos una mayúscula.</p>
        <p *ngIf="!validSpecialChar">Necesita al menos un signo especial.</p>
      </div>

      <input
        [(ngModel)]="confirmPassword"
        class="input"
        type="password"
        placeholder="Confirmar contraseña"
      />

      <ion-button shape="round" size="large" color="tertiary" (click)="register()">Crear cuenta</ion-button>
    </div>

    <hr class="lineaseparadora" />
    <div class="contenedor">
      <ion-button shape="round" size="large" color="tertiary" (click)="backToLogin()">Regresar</ion-button>
    </div>
  </ion-content>
</ion-content>
