.contenedor {
  width: 100%;
  text-align: center; /* Esto centra el contenido dentro del div */
}

.fuente {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
  margin-top: 0;
  color: white;
}

.fuente2 {
  font-size: 15px !important;
  font-weight: 200 !important;
  color: antiquewhite;
  margin-bottom: 15px;
}

ion-content {
  --background: linear-gradient(to bottom,#4edd3b,#236a23) !important;
}

.form-container {
  width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
  max-width: 400px; /* Limita el ancho máximo del formulario */
  margin: 0 auto; /* Centra el contenedor del formulario */
}

.input {
  width: 300px; /* Tamaño uniforme para todos los inputs */
  height: 41px;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: white;
  color: black;
  text-align: center;
  box-sizing: border-box;
}

.password-container {
  position: relative;
  width: 300px; /* Asegúrate de que sea igual al ancho del input */
  margin: auto;
  margin-top: 20px;
}

.password-icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000;
  font-size: 1.5rem;
  opacity: 0.8;
}

ion-button {
  display: block;
  margin: auto;
  height: 38px;
  margin-top: 20px;
  width: 200px; /* Tamaño fijo para los botones */
}

.lineaseparadora {
  width: 284px;
  height: 0;
  color: antiquewhite;
  margin: auto;
  border: 1px solid #ffffff;
  margin-top: 15px;
}

img {
  margin: auto;
  display: block;
  width: 200px;
}

.register:active {
  transform: scale(0.9);
}

.register,
.back {
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: 10%;
}

.back {
  padding: 10px;
  vertical-align: middle;
  margin: auto;
  width: fit-content;
  background-color: rgb(63, 35, 103);
  border-radius: 10px;
  border-bottom: 1px solid #000000;
}

.back:active {
  transform: scale(0.9);
}

.validation-message {
  margin-top: 10px;
  text-align: center;
}

p {
  font-size: 14px;
  color: black;
  font-weight: bold;
  
}
